@use '../../styles/globals' as *;

.mainHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.heading {
    @include main-heading();
    border-bottom: none;
}