@use '../../styles/globals' as *;


.billContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.searchContainer {
    flex: 1;
    margin: 20px auto;
    display: flex;
    width: 80%;
    justify-content: center;

    .searchWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 60rem;

        .input {
            width: 100%;
            border: 1px solid black;
            font-size: 1.1rem;
            padding: 0.8rem 2.5rem;
            color: gray;
            margin-right: 20px;
        }

        .icon {
            position: absolute;
            left: 0;
            color: gray;
            font-size: 1.1rem;
            margin-left: 15px;
            @include flex-center();
        }

        .cancelSearch {
            color: gray;
            position: absolute;
            right: 125px;
            @include flex-center();
            cursor: pointer;
            @include transition();

            &:hover {
                color: black;
            }
        }
    }
}

.searchBtn {
    @include primary-btn();
}

.controls {
    width: 100%;
    @include flex-center();
    gap: 15px;
    @include spacing(margin, (top, 1rem));

    .btn {
        @include primary-btn();
    }
}

.billInvoice {
    flex: 1;
    display: flex;
    width: 100%;
    min-height: 1000px;
    overflow-x: auto;
}
