@use '../../../styles/globals' as *;

.partyItem {
    cursor: pointer;
}

.searchAndFilterArea {
    width: 100%;
    margin: 2rem 0 0.8rem 0;

    .searchArea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        @include respond-to(xsm) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .searchInput {
        text-align: center;
        position: relative;
        display: inline-block;
        margin-right: 1.5rem;
        width: 60%;
        max-width: 35rem;

        @include respond-to(xsm) {
            width: 100%;
            margin-right: 0px;
        }

        input {
            width: 100%;
            border: 1px solid black;
            font-size: 1rem;
            color: $neutral-dark;
            border-radius: 50px;
            padding: 0.8rem 1.2rem;
            @include responsive-font(0.8rem, 0.8rem, 1rem);
        }

        .cancelBtn {
            color: lighten($neutral-dark, 20%);
            font-size: 1.3rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            @include responsive-font(0.8rem, 0.8rem, 1rem);

            &:hover {
                color: $neutral-dark;
            }
        }
    }

    button {
        @include primary-btn();
    }
}

.partyList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 1rem auto;

    div {
        border: 1px solid black;
        border-radius: 20px;
        text-align: center;
        padding: 0.4rem 0.8rem;
        @include responsive-font(0.8rem, 1rem, 1rem);

        &:hover {
            background-color: $brand-color;
            color: white;
            border: none;
        }
    }

    p {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $font-link;
    }
}

.partyBalanceContainer {
    .tableWrapper {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 2rem;
        font-size: 0.95rem;
        border-radius: 8px;

        th,
        td {
            border: 1px solid #ddd;
            padding: 0.75rem 1rem;
            text-align: center;
            min-width: 150px;
            @include responsive-font(0.8rem, 1rem, 1rem);
        }

        th {
            background: $brand-color;
            font-weight: 600;
            color: white;
        }

        tr:nth-child(even) {
            background: #fafafa;
        }

        tr:hover {
            background: #f0f8ff;
        }
    }
}

.totalBalanceArea {
    margin-top: 2rem;
    width: 100%;
    text-align: right;
    @include responsive-font(0.8rem, 1rem, 1rem);
    @include spacing(margin, (bottom, 1rem));

    .total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        color: $neutral-dark;

        span {
            font-size: 1.2rem;
            font-weight: bold;
            color: $brand-color;
            @include responsive-font(0.8rem, 1rem, 1rem);
        }
    }
}