@use '../../../styles/globals' as *;

.driverDetail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2rem;
}

.childs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.childs>* {
  flex: 1 1 calc(50% - 20px);
}

@media (max-width: 600px) {
  .childs>* {
    flex: 1 1 100%;
  }
}

.settlementBtn {
  @include primary-btn();
}

.settlements {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settlementTable {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  th {
    background-color: rgb(37, 37, 37);
    color: #fff;
    font-weight: 600;
    text-align: left;
    padding: 12px 16px;
    white-space: nowrap;
  }

  td {
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    color: #333;
    white-space: nowrap;
  }

  tr {
    transition: background-color 0.2s ease;

    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

// optional: only scrollable on small screens
@media (max-width: 768px) {
  .styled-table {
    min-width: 700px;
  }
}