@use '../../styles/globals' as *;

.serviceCard {
    @include flex-center();
    flex-direction: column;
    width: 400px;
    height: 300px;
    @include spacing(margin, (bottom, $spacing-lg), (left, auto), (right, auto));
    @include spacing(padding, (all, $spacing-lg));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(0, 0, 0, 0.2);
    @include border-radius($radius-lg);
    cursor: pointer;

    .icon {
        @include text-color($accent);
    }

    .title {
        @include spacing(margin, (top, $spacing-md), (bottom, $spacing-md));
        @include text-color($primary);
    @include responsive-font(1rem, 1.1rem, 1.2rem);

    }

    .description {
        @include text-color(gray);
        text-align: center;
        @include responsive-font(0.8rem, 1rem, 1.2rem);
    }
}