@use '../../../styles/globals' as *;

.loginContainer {
  @include flex-center();
  color: $neutral-light;
  width: 100%;
  flex: 1;
}

.loginForm {
  width: 35rem;
}

.formOptions {
  font-size: 14px;
  color: #333;

  label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: $primary;
    cursor: pointer;
  }
}


.footerText {
  text-align: center;
  color: $neutral-dark;
  margin-top: 1rem;

  a {
    color: blue;
    text-decoration: none;
    @include transition(color, 0.2s);

    &:hover {
      text-decoration: underline;
    }
  }
}