@use '../../styles/globals' as *;

.headerWithChildContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 2rem 0;
}

.heading {
    @include main-heading();
}