@use '../../styles/globals' as *;

.searchContainer {
    flex: 1;
    max-width: 60rem;
    margin: 20px auto;
    display: flex;
    width: 80%;

    .searchWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .input {
            width: 100%;
            border: 1px solid black;
            font-size: 1.1rem;
            padding: 0.8rem 2.5rem;
            color: gray;
            margin-right: 20px;
        }

        .icon {
            position: absolute;
            left: 0;
            color: gray;
            font-size: 1.1rem;
            margin-left: 15px;
            @include flex-center();
        }

        .cancelSearch {
            color: gray;
            position: absolute;
            right: 125px;
            @include flex-center();
            cursor: pointer;
            @include transition();

            &:hover {
                color: black;
            }
        }
    }
}

.searchBtn {
    @include primary-btn();
}

.controls {
    width: 100%;
    @include flex-center();
    gap: 15px;
    @include spacing(margin, (bottom, 1rem), (top, 1rem));

    .btn {
        @include primary-btn();
    }
}

.invoiceContainer {
    width: 100%;
    overflow-x: scroll;
}

@media print {
    .invoiceContainer {
        width: 210mm;
        min-height: 297mm;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}