@use "../../../styles/globals" as *;

.balancePartyFormContainer {
  color: $neutral-light;
  width: 100%;
  height: 80vh;
  @include flex-center();

  .balancePartyForm {
    width: 100%;

    .heading {
      @include main-heading();
      
      max-width: 35rem;
      margin: 0 auto 1rem auto;
    }

    .inputArea {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
      gap: 0.2rem;
      max-width: 35rem;

      @include respond-to(lg) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.buttonContainer {
  text-align: center;
  width: 100%;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  max-width: 35rem;
  margin: 0 auto;

  .submitBtn {
    @include button-style($primary, $neutral-light, $h-padding: 0.8rem);
    min-width: 50%;
    font-size: 1.1rem;
    letter-spacing: 0.3px;

    @include respond-to(lg) {
      width: 100%;
    }
  }
}