@use "../../../styles/globals" as *;

.entryFormContainer {
  color: $neutral-light;
  width: 100%;
  height: 100%;

  .heading {
    @include main-heading();
  }

  .entryForm {
    width: 100%;

    .inputArea {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.2rem;

      @include respond-to(lg) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.extraChargesSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    margin-bottom: 0.5rem;
    font-family: $font-heading;
    border-bottom: 1px solid $neutral-light;
    padding-bottom: 0.25rem;
  }

  .extraChargeRow {
    @include flex-center();
    gap: 0.5rem;

    @include respond-to(md) {
      flex-direction: column;
    }

    input {
      width: 100%;
      padding: 0.8rem 1rem;
      border: none;
      font-size: 1rem;
      border-radius: 0.3rem;
      font-family: $font-body;

      @include primary-input();
    }
  }

  .addExtraChargeBtn {
    @include secondary-btn();
    @include spacing(margin, (top, 0.8rem));
  }

  .removeExtraChargeBtn {
    @include primary-btn();
    @include responsive-font(0.8rem, 0.8rem, 0.8rem);

    @include respond-to(md) {
      @include spacing(margin, (top, 0.7rem));
    }
  }
}

.buttonContainer {
  @include spacing(margin, (horizontal, 0.8rem), (top, 2rem));
  @include flex-center();

  .submitBtn {
    width: 100%;
    max-width: 30rem;
    @include primary-btn();
  }
}