@use '../../../../styles/globals' as *;

.heading {
    @include main-heading();
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.settlementForm {
    max-width: 35rem;
    margin: 1rem auto;

    .settlementBtn {
        @include primary-btn();
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}